<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color: rgb(211, 204, 204)">
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" style="background-color: black; border: none; color: white;">Scrape New Data</a></p>
      </div>

      <!-- Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2 style="color: white">Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2 style="color: white">Featured Mars Image</h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4 style="color: white">Mars Facts</h4>
            <table style="background-color: white;" border="1" class="dataframe table">
            {{ mars.facts | safe }}
            </table>  
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class=row id="mars-hemispheres">
        <!-- Subtitle -->
        <div class="col-md-12">
            <div class="row" id="hemisphere_title">
                <h2 style="text-align:center; color: white;">Mars Hemispheres</h2>
                <hr style="width:100%">
            </div>
        </div>

        {% for hemisphere in mars.hemisphere_image_info %}
          <div class="col-xs-6 col-md-3">
            <figure class="img-responsive">
              <div class="thumbnail" style="background-color: black;">
                <img src="{{hemisphere.url_image | default('static/images/error.png', true)}}" alt="...">
                    <div class="caption">
                    <br>
                    <h3>{{hemisphere.img_title}}</h3>
                    <br>
                    </div>
              </div>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
